
/*------------------Colours---------------------*/

.bg-color {
    background-color: #285fd5;
}

.content-color {
    background-color: #eaf0f7;
}

.audio-content-color {
    background-color: #eaf0f7;
    border-left: 3vw #285fd5 solid;
    border-right: 3vw #285fd5 solid;
}

/*------------------Headings--------------------*/

header {
    margin: 0;
}

.header-logo {
    padding: 20px 10px;
    margin: 0 auto;
}

.header-image {
    padding: 20px 10px;
    margin: 0 auto;
}

h2 {
    font-size: 35px;
    padding: 50px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

/*-----------------Navigation-----------------*/

.navbar {
    height: 70px;
    border-radius: 0;
    background-color: #fe0000;
    font-size: 25px;
}

.nav li {
    background-color: #fe0000;
}

.navbar-inverse .navbar-nav li a {
    color: #080808;
}

.navbar-brand {
    font-size: 25px;
}

.navbar-inverse .navbar-brand {
    color: #080808;
}

.affix {
      top: 0;
      width: 100%;
      z-index: 9999;
  }

/*------------------Home----------------------*/

.content {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

#img1 {
    float: left;
    margin-right: 20px;
    height: 200px;
    width: 200px;
}

#img2 {
    float: right;
    margin-left: 20px;
    height: 200px;
    width: 200px;
}

#img3 {
    float: left;
    margin-right: 20px;
    height: 200px;
    width: 200px;
}

/*------------------Audio----------------------*/

.audio-layout {
    text-align: center;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*------------------Video----------------------*/

.video-styling {
    width: 100%;
    padding: 50px;
    margin: 30px auto;
}

.more-video {
    text-align: center;
    font-size: 25px;
    padding: 20px;
    margin: 30px;
}

.more-video a:hover {
    color: #fe0000;
}

/*------------------Contacts-------------------*/

#fname {
    margin-bottom: 10px;
}

#lname {
    margin-bottom: 10px;
}

#email {
    margin-bottom: 10px;
}

.more-contacts {
    text-align: center;
    font-size: 20px;
    margin: 30px 10px;
}

.more-contacts a:hover {
    color: #fe0000;
}

/*------------------Footer---------------------*/

footer {
    margin: 0;
}

.footer-image {
    padding: 20px 10px;
    margin: 0 auto;
}

.heading {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}

.heading a {
    color: #ffffff;
}

.heading a:hover {
    color: #fe0000;
}

.social-links {
    text-align: center;
    padding: 15px;
    margin: 10px;
}

.social-links li a i {
    padding: 20px;
    margin: 20px;
    font-size: 25px;
    line-height: 20px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #86a8f1;
}

.social-links li a i:hover {
    color: #fe0000;
    background-color: #ffffff;
    transform: rotate(360deg);
    transition: 1s ease-in-out;
}

/*-----------------Media Queries----------------*/

@media screen and (max-width: 768px) {
    .content-color {
        border-left: 3vw #285fd5 solid;
        border-right: 3vw #285fd5 solid;
    }
}